/* Breakpoints */

$mobile: 900px;
$max-width: 1440px;

/* Colours */

$brand-blue: #002F6C;
$brand-blue-hover: #363D8C;
$white: #FFFFFF;
$button-blue: #1580D8;
$header-border: #EFEFEF;
$footer-grey: #43484D;
$footer-text-light: #858C93;
$footer-text-dark: #5B6167;
$form-background: #EEEFF1;
$form-input-background: #EAEAEA;
$phone-green: #22A55E;
$accessibility-border: #DFDFDF;
$blue-text: #363D8C;
$sub-menu-background: #003E78;
$sub-menu-text: #F2F2F2;
$table-grey: #C1C1C1;
$table-white: #E5E5E5;

/* Color Picker */

$red: #B82226;
$black: #000000;
$blazerBlue: #181A1A;
$deepImpactBlue: #1E3280;
$guard: #5F625F;
$solar: #CCC564;


/* Fonts */
$base-font: 16px;
$primary-font: 'Roboto', sans-serif;
